---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}




{% include publications %}

### Journal Papers
4. S. F. Tekin, **A. Fazla**, S. S. Kozat, _"Numerical Weather Forecasting using Convolutional-LSTM with Attention and Context Matcher Mechanisms"_, IEEE Transactions on Geoscience and Remote Sensing, 2024, **Accepted**.  
   Available: [https://arxiv.org/abs/2102.00696](https://arxiv.org/abs/2102.00696)  
   Code: [https://github.com/sftekin/spatio-temporal-weather-forecasting](https://github.com/sftekin/spatio-temporal-weather-forecasting)


### Conference Papers
1. K. G. Ince, A. Koksal, **A. Fazla**, A. A. Alatan, _"Semi-Automatic Annotation for Object Detection"_, Proceedings of the IEEE/CVF International Conference on Computer Vision, 1233-1239, 2021, **Accepted**.  
   Available: [https://doi.org/10.1109/ICCVW54120.2021.00143](https://doi.org/10.1109/ICCVW54120.2021.00143)




### Contributed publications

4. S. F. Tekin, **A. Fazla**, S. S. Kozat, _"Numerical Weather Forecasting using Convolutional-LSTM with Attention and Context Matcher Mechanisms"_, IEEE Transactions on Geoscience and Remote Sensing, 2024, **Accepted**.  
   Available: [https://arxiv.org/abs/2102.00696](https://arxiv.org/abs/2102.00696)  
   Code: [https://github.com/sftekin/spatio-temporal-weather-forecasting](https://github.com/sftekin/spatio-temporal-weather-forecasting)


{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}
