---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}


* Publications
------

  * 1. G<sup>2</sup> Blending Ball B-Spline Curve by B-Spline
    - **Yuming Zhao**, Zhongke Wu, Xingce Wang, and Xinyue Li
    - ACM SIGGRAPH Symposium on Interactive 3D Graphics and Games 2023
    - [Link](https://doi.org/10.1145/3585504)

  * 2. GLS‐PIA: n‐Dimensional Spherical B‐Spline Curve Fitting based on Geodesic Least Square with Adaptive Knot Placement
    - **Yuming Zhao**, Zhongke Wu and Xingce Wang
    - EuroGraphics 2024
    - [Link](https://onlinelibrary.wiley.com/doi/10.1111/cgf.15021)
   

* Contributed publications:
2024
Untargeted metabolomics analyses to identify a new sweet compound released during post-fermentation maceration of wine.
A Sample-Centric and Knowledge-Driven Computational Framework for Natural Products Drug Discovery
MicrobeMASST: a taxonomically informed mass spectrometry search tool for microbial metabolomics data
2023
Comparative metabolomics of fungal foliar endophytes and their long-lived host Astrocaryum sciophilum: a model for exploring the chemodiversity of host-microbe interactions
Phytochemical study of Alzatea verticillata, the sole species belonging to the Alzateaceae family
Open and re-usable annotated mass spectrometry dataset of a chemodiverse collection of 1,600 plant extracts
2022
Metabolomics in Ecology and Bioactive Natural Products Discovery: Challenges and Prospects for a Comprehensive Study of the Specialised Metabolome
Unifying the identification of biomedical entities with the Bioregistry
Inventa: A computational tool to discover structural novelty in natural extracts libraries
Combining Activity Profiling with Advanced Annotation to Accelerate the Discovery of Natural Products Targeting Oncogenic Signaling in Melanoma
Targeted isolation of photoactive pigments from mushrooms yielded a highly potent new photosensitizer: 7,7′-biphyscion
2021
Feature-Based Molecular Networking—An Exciting Tool to Spot Species of the Genus Cortinarius with Hidden Photosensitizers
Drug Repurposing to Identify a Synergistic High-Order Drug Combination to Treat Sunitinib-Resistant Renal Cell Carcinoma
Molecular and Functional Analysis of Sunitinib-Resistance Induction in Human Renal Cell Carcinoma Cells
2020
Antiseizure potential of the ancient Greek medicinal plant Helleborus odorus subsp. cyclophyllus and identification of its main active principles
Insights on the Structural and Metabolic Resistance of Potato (Solanum tuberosum) Cultivars to Tuber Black Dot (Colletotrichum coccodes)
Phytochemical analysis of the methanolic leaves extract of Niedenzuella multiglandulosa (Malpighiaceae), a plant species toxic to cattle in Brazil
2019
Identification of Antifungal Compounds from the Root Bark of Cordia anisophylla J.S. Mill.

Doctoral thesis:
Integrative Analytical and Computational Strategies for Qualitative and Semi-quantitative Plant Metabolome Characterization

Publication profile on:
Scholia: https://scholia.toolforge.org/author/Q97455964

ORCID: https://orcid.org/0000-0003-0443-9902

Google Scholar: https://scholar.google.com/citations?user=8889AMkAAAAJ





{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



